<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
 </head>
  <body>

  <ul>
      <li>
          <a href="devices/add">Add new device</a>
      </li>
  </ul>


    <!-- BEGIN TELEVISION -->

    <div class="remote-screen container" id="television">
        <h1>Remote: {{device}}</h1>
      <div class="buttongroup col-xs-12 col-md-4">
        <div class="col-xs-12 control-button-container text-center">
          <a class="btn col-xs-12 btn-lg btn-danger col-xs-12" href="/send/{{device}}/KEY_POWER">
            <i class="fa fa-2x fa-power-off pull-left"></i> TV Power
          </a>
        </div>

        <div class="col-xs-3 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_REWIND">
            <i class="fa fa-backward"></i>
          </a>
        </div>

        <div class="col-xs-3 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_PAUSE">
            <i class="fa fa-pause"></i>
          </a>
        </div>
        <div class="col-xs-3 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_PLAY">
            <i class="fa fa-play"></i>
          </a>
        </div>
        <div class="col-xs-3 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_FASTFORWARD">
            <i class="fa fa-forward"></i>
          </a>
        </div>

        <div class="col-xs-6 control-button-container text-center">
          <a class="btn btn-lg btn-danger col-xs-12" href="/send/{{device}}/KEY_NETFLIX">
            Guide
          </a>
        </div>
        <div class="col-xs-6 control-button-container text-center">
          <a class="btn btn-lg btn-success col-xs-12" href="/send/{{device}}/KEY_AMAZON">
            Amazon
          </a>
        </div>

      </div>

      <div class="buttongroup col-xs-12 col-md-4">
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_BACK">
            Back
          </a>
        </div>

        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-primary col-xs-12" href="/send/{{device}}/KEY_UP">
            <i class="fa fa-arrow-up"></i>
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_INFO">
            Info
          </a>
        </div>


        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-primary col-xs-12" href="/send/{{device}}/KEY_LEFT">
            <i class="fa fa-arrow-left"></i>
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-primary col-xs-12" href="/send/{{device}}/KEY_OK">
            OK
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-primary col-xs-12" href="/send/{{device}}/KEY_RIGHT">
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_EXIT">
            Exit
          </a>
        </div>

        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-primary col-xs-12" href="/send/{{device}}/KEY_DOWN">
            <i class="fa fa-arrow-down"></i>
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_UP">
            ?
          </a>
        </div>
      </div>

      <div class="buttongroup col-xs-12 col-md-4">

        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_1">
            1
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_2">
            2
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_3">
            3
          </a>
        </div>




        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_4">
            4
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_5">
            5
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_6">
            6
          </a>
        </div>



        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_7">
            7
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_8">
            8
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_9">
            9
          </a>
        </div>

        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_mode">
            Input
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_0">
            0
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-default col-xs-12" href="/send/{{device}}/KEY_enter">
            Enter
          </a>
        </div>
      </div>

      <div class="buttongroup col-xs-12 col-md-4">


        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-primary col-xs-12" href="/send/{{device}}/KEY_VOLUMEUP">
            <i class="fa fa-plus-circle"></i>
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-warning col-xs-12" href="/send/{{device}}/KEY_MUTE">
      <span style="display:inline-block;height:24px;overflow:hidden">
        <i class="fa fa-stack-1x fa-volume-up"></i>
        <i class="fa fa-stack-2x fa-ban"></i>
      </span>
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-primary col-xs-12" href="/send/{{device}}/KEY_CHANNELUP">
            <i class="fa fa-arrow-circle-up"></i>
          </a>
        </div>


        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-primary col-xs-12" href="/send/{{device}}/KEY_VOLUMEDOWN">
            <i class="fa fa-minus-circle"></i>
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-success col-xs-12" href="/send/{{device}}/KEY_FAVORITE">
            <i class="fa fa-star"></i>
          </a>
        </div>
        <div class="col-xs-4 control-button-container text-center">
          <a class="btn btn-lg btn-primary col-xs-12" href="/send/{{device}}/KEY_CHANNELDOWN">
            <i class="fa fa-arrow-circle-down"></i>
          </a>
        </div>
        <div class="col-xs-12 control-button-container text-center">


        </div>


      </div>
    </div>
      <!---- END TELEVISION ---->
  </body>
</html>

