<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}

    <script type="text/javascript">
        function validateParams(params, skipIndexes){
            if (skipIndexes == undefined)
                skipIndexes = [];

            if ((params[0] == "") && !(skipIndexes.indexOf(0) > -1))
            {
                alert("Command cannot be empty!");
                return false;
            }

            if ((params[1] == "") && !(skipIndexes.indexOf(1) > -1))
            {
                alert("Device cannot be empty!");
                return false;
            }

            if ((params[2] == "") && !(skipIndexes.indexOf(2) > -1))
            {
                alert("Button cannot be empty!");
                return false;
            }

            return true;
        }

        function getSelectedValue(htmlSelectId){
            var htmlSelect = document.getElementById(htmlSelectId);
            var index = htmlSelect.selectedIndex;
            if (htmlSelect.length > 0)
            {
                if (index == -1) index = 0;
                return htmlSelect.options[index].text;
            }
            return ""
        }

        function getParams(){
            var command = document.getElementById("voice_command").value;
            var device = getSelectedValue("devices");
            var button = getSelectedValue("buttons");

            return [command, device, button]
        }

        function add(){
            var params = getParams();
            if (!validateParams(params))
                return;
            window.location = "/commands/add/"+params[0] +'/' + params[1] +'/'+params[2];
        }

        function tryNew()
        {
            var params = getParams();
            if (!validateParams(params,[0]))
                return;
            window.location = "/send/"+params[1]+'/'+params[2]
        }

        function update(index){
            var command = document.getElementById("voice_command"+index).value;
            window.location = "/commands/update/"+index+'/'+command;
        }

        /**
         * Text to speech conversion and playing.
         */
        function playAudio(text){
            if ((text == undefined)|| (text == ""))
                return;

            var audio = new Audio("/commands/speech/" + text);
            audio.play();
        }
    </script>
</head>
<body>
<div class="container">
    <h1>commands list</h1>

    <table class="table">
        <tr>
            <th>Command</th>
            <th>Play Sound</th>
            <th>Device</th>
            <th>Button</th>
            <th>Action</th>
        </tr>
        <tr>
            <td><input type="text" placeholder="Enter new command..." class="form-control" id ="voice_command"/></td>
            <td><button type="button" class="btn btn-default" onclick="playAudio(document.getElementById('voice_command').value)">Play</button></td>
            <td>
                <select class="form-control" id="devices">
                    {{#devices}}
                    <option>{{.}}</option>
                    {{/devices}}
                </select>
            </td>
            <td>
                <select class="form-control" id="buttons">
                    {{#buttons}}
                    <option>{{.}}</option>
                    {{/buttons}}
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-default" onclick="tryNew()">Test</button>
                <button type="button" class="btn btn-default" onclick="add()">Add</button>
            </td>
        </tr>
        {{#commands}}
        <tr>
            <td>
                <input type="text" value="{{voice_command}}" class="form-control" id="voice_command{{commands_index}}"/>
            </td>
            <td><button type="button" class="btn btn-default" onclick="playAudio(document.getElementById('voice_command{{commands_index}}').value)">Play</button></td>
            <td>{{device_name}}</td>
            <td>{{button}}</td>
            <td>
                <a class="btn btn-default" href="/send/{{device_name}}/{{button}}">Test</a>
                <button type="button" class="btn btn-default" onclick="update('{{commands_index}}')">Update</button>
                <a class="btn btn-danger" href="/commands/delete/{{commands_index}}">Delete</a>
            </td>
        </tr>
        {{/commands}}
    </table>
</div>
</body>
</html>