<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
<div class="container">
    <h1>commands list</h1>

    <table class="table">
        <tr>
            <th>Command</th>
            <th>Play Sound</th>
            <th>Device</th>
            <th>Button</th>
            <th>Action</th>
        </tr>
        <tr>
            <td><input type="text" placeholder="Enter command..." class="form-control"/></td>
            <td><button type="button" class="btn btn-default">Play</button></td>
            <td>
                <select class="form-control">
                    {{#devices}}
                    <option>{{.}}</option>
                    {{/devices}}
                </select>
            </td>
            <td>
                <select class="form-control">
                    {{#buttons}}
                    <option>{{.}}</option>
                    {{/buttons}}
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-default">Try</button>
                <button type="button" class="btn btn-default">Add</button>
            </td>
        </tr>
        {{#commands}}
        <tr>
            <td><input type="text" value="{{voice_command}}" class="form-control"/></td>
            <td><button type="button" class="btn btn-default">Play</button></td>
            <td>{{device_name}}</td>
            <td>{{name}}</td>
            <td>
                <button type="button" class="btn btn-default">Try</button>
                <button type="button" class="btn btn-default">Save</button>
                <a class="btn btn-default" href="/commands/delete/{{commands_index}}">Delete</a>
            </td>
        </tr>
        {{/commands}}
    </table>
</div>
</body>
</html>